* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #414141;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-container {
    position: fixed;
    top: 15%;
    width: 400px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-heading {
    width: 300px;
    height: fit-content;
    display: flex;
    align-items: center;
    font-weight: 900;
    margin-left: 30px;
    margin-top: 30px;
}

#icon {
    font-size: 30px;
    color: orangered;
    margin-left: 5px;
}

.entry {
    width: 350px;
    height: 37px;
    background-color: rgb(222, 224, 224);
    margin: 20px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}

.user-input {
    font-size: 14px;
    margin-left: 15px;
    width: 260px;
    outline: none;
    background-color: transparent;
    border: none;
}

.add {
    margin-right: 20px;
}

.add-btn {
    background-color: orangered;
    color: white;
    height: 100%;
    width: 70px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
}

.item {
    width: 365px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0px;
    cursor: pointer;
    user-select: none;
    display: inline-block;

}

li::before {
    display: inline-block;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #424242;
    margin-top: 5px;
    margin-right: 15px;
    text-decoration: overline;
}

li.checked {
    text-decoration: line-through;
}

li.checked::before {

    display: inline-block;
    content: "";
    width: 13px;
    height: 13px;
    background-image: url(https://imagepng.org/check-icone/check-icone-1/);
    background-size: cover;
    background-position: center;
    margin-top: 5px;
    margin-right: 15px;
}


.delete {
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid black;
    align-content: center;
    justify-content: center;
    background-image: url(trash.png);
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
    margin-top: 1px;
    border-radius: 50%;
    border: none;

}

.delete:hover {
    background-color: rgb(211, 214, 216);
}

.list-container {
    margin-bottom: 10px;
}